
{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .thumbnailsContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 5em;
        }

        .thumbnail {
            width: 60%;
            margin-bottom: 5em;
            height: 30%;
            background-color: #182533;
            box-shadow: 1px 1px 8px black;
            padding: 02em;
            border-radius: 5px;
        }

        .codeBlock {
            width: 95%;
            border-radius: 5px;
        }

        .title {
            font-family: var(--logo-font);
            font-size: 2.5em;
            text-align: left;
            margin-bottom: 2em;
        }

        .description {
            margin-top: 3em;
            margin-bottom: 3em;
            font-family: var(--logo-font);
            text-align: justify;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .sectionTitle {
            font-size: 3em;
            margin-left: 2em;
            text-shadow: 1px 1px 2px darkgray;
            font-family: 'Roboto Mono', monospace;
        }

        .date {
            font-family: 'Roboto Mono', monospace;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        
        .authorName {
            font-family: monospace;
            font-size: 1.5em;
            color: rgb(66, 108, 245);
        }

        .authorNameComments {
            font-family: monospace;
            font-size: 1em;
            color: rgb(66, 108, 245);
            text-align: left;
        }

        .portrait {
            border-radius: 5px;
            box-shadow: 1px 1px 10px black;
            width: 60px;
            height: 60px;
        }

        .sectionIcon {
            text-align: center;
            font-size: 2em;
        }

        .experience {
            font-family: monospace;
        }
        
        .commentPreview {
            font-family : monospace;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 1em;
            border-top: 1px solid white;
            padding-top: 1em;
        }

        .commentPreview a {
            color: white;
        }

        .authorExperience {
            color: white;
        }

        .commentContainer {
            color: whitesmoke;
            font-size: 1.2em;
            text-align: left;
            width: 80%;
            margin-bottom: 2em;
        }

        .commentSectionTitle {
            text-align: left;
        }

        .mainTextContent {
            color: white;
            font-size: 1.5em;
            font-family: var(--logo-font);
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .commentDateAdded {
            text-align: left;
            color: white;
            font-family: monospace;
        }

        .stamp {
            color: black;
            background: white;
            padding: 0.2em;
            font-family: monospace;
            border-radius: 5px;
        }

    </style>

    {# Code highlighter - highlightJS#}
        {# Style #}
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/atom-one-dark.min.css">
        {# Module #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js">
    </script>
        {# Execution #}
    <script>hljs.initHighlightingOnLoad();</script>

    {# One Article #}
    <div class="thumbnailsContainer">
        <div class="thumbnail">
            <h2 class="title"> {{ post.title }}</h2>

            {# Categories #}
            <div syle="color: black; background:white;">
                {% for category in post.categories %}
                    <a class="stamp" href="/posts/category/{{ category.name }}">{{ category.name }}</a>
                {% endfor %}
            </div>

            {# User Info #}
            <p class="authorName">
                {{ post.User.userName }}
                <span class="authorExperience">
                    ({{ post.User.Experience }})
                </span>
            </p> 
            {# Post Body #}
            <p class="date">{{ post.dateAdded|date("d M Y H:i")}}</p>
            {% if post.codeContent %}
                <div class="codeBlock">
                    <pre><code class="codeBlock">{{ post.codeContent }}</code></pre>
                </div>
            {% endif %}
            {% if post.textContent %}
                <p class="description">{{ post.TextContent }}</p>
            {% endif %}
            {# Main text content #}
            {% if post.mainTextContent %}
                <p class="mainTextContent">{{ post.mainTextContent }}</p>
            {% endif %} 
            {% if post.youtubeLink %}
            <a href="{{ post.youtubeLink }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/YouTube_dark_icon_%282017%29.svg/107px-YouTube_dark_icon_%282017%29.svg.png" style="width: 5em; margin-bottom: 1em;"/></a>
            {% endif %}
            {% if post.githubLink %}
            <a href="{{ post.githubLink }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Git-icon-black.svg/173px-Git-icon-black.svg.png" style="width: 5em; display:block;"/></a>
            {% endif %}

            {# Comments #}
            <div class="commentPreview">
                {% if comments|length == 0 %}
                <p>There is no comment for this post yet. Be the first to evalutate this post.</p>
                {% endif %}
                {% if comments %}
                    <h2 class="commentSectionTitle">commentaires</h2>
                    <div>
                        {% for comment in comments %}
                            <p class="authorNameComments">{{ comment.user.userName}}</p>
                            <p class="commentDateAdded">{{ comment.dateAdded|date("d M Y H:i") }}</p>
                            <p class="commentContainer">{{ comment.textContent }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
     </div>
{% endblock %}
