
{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .thumbnailsContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin-top: 3em;
        }

        .thumbnail {
            width: 60%;
            margin-bottom: 5em;
            height: 30%;
            background-color: #182533;
            box-shadow: 1px 1px 8px black;
            padding: 02em;
            border-radius: 5px;
        }

        .codeBlock {
            width: 95%;
            border-radius: 5px;
            text-align: left;
        }

        .title {
            font-family: var(--logo-font);
            font-size: 2.5em;
            text-align: left;
            margin-bottom: 2em;
        }

        .description {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
            font-family: var(--logo-font);
            text-align: justify;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            opacity: 20%;
            border-radius: 5px;
        }

        .sectionTitle {
            font-size: 3em;
            margin-left: 2em;
            text-shadow: 1px 1px 2px darkgray;
            font-family: 'Roboto Mono', monospace;
        }

        .date {
            font-family: 'Roboto Mono', monospace;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
        .authorName {
            font-family: monospace;
            font-size: 1.5em;
            color: rgb(66, 108, 245);
        }

        .authorNameComments {
            font-family: monospace;
            font-size: 1em;
            color: rgb(66, 108, 245);
            text-align: left;
        }

        .portrait {
            border-radius: 5px;
            box-shadow: 1px 1px 10px black;
            width: 60px;
            height: 60px;
        }

        .sectionIcon {
            text-align: center;
            font-size: 2em;
        }

        .experience {
            font-family: monospace;
        }
        
        .commentPreview {
            font-family : monospace;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 1em;
            border-top: 1px solid white;
            padding-top: 2em;
        }

        .commentPreview a {
            color: white;
        }

        .authorExperience {
            color: white;
        }

        .commentContainer {
            color: whitesmoke;
            font-size: 1em;
            text-align: left;
            width: 80%;
            margin-bottom: 2em;
            font-family: var(--section-font);
        }

        .commentSectionTitle {
            text-align: left;
            font-family: var(--section-font);
            opacity: 70%;
        }

        .mainTextContent {
            color: white;
            font-size: 1.2em;
            font-family: var(--logo-font);
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .commentDateAdded {
            text-align: left;
            color: white;
            font-family: monospace;
        }

        .stamp {
            color: black;
            background: white;
            padding: 0.2em;
            font-family: monospace;
            border-radius: 5px;
        }

        .codeblock  textarea{
            color: green;
            background: black;
            display: block;
            padding: 1em;
            width:80%;
            height: 5em;
            font-size: 1.2em;
            border: none;
            font-family: monospace;
            resize: none;
            margin-bottom: 1em;
            border-radius: 5px;
            margin: 0;
            text-align: left;
        }

        .text textarea{
            color: whitesmoke;
            background: rgb(5, 14, 34);
            display: block;
            padding: 1em;
            width:80%;
            font-size: 1.2em;
            border: none;
            height: 5em;
            font-family: monospace;
            resize: none;
            border-radius: 5px;
            box-shadow: 1px 1px 1px black;
            margin-bottom: 1em;
        }

        .submit button {
            color: green;
            padding: 1em;
            font: monospace;
            background: transparent;
            border: none;
            margin-top: 1em;
            border: 0px solid white;
            margin-bottom: 1em;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            box-shadow: 0px 0px 0px white;
            transition: 0.2s;
            font-family: var(--logo-font);
        }

        .submit button:hover {
            color: whitesmoke;
            background: rgb(0,225,4);
            box-shadow: 1px 1px 20px white;
        }

        .submit {
            text-align: left;
        }

        .commentSectionItem {
            border: 1px solid black;
            margin-top: 1em;
            margin-bottom: 1em;
            padding: 1em;
        }

        .noComments {
            margin-top:1em;
            margin-bottom: 1em;
            padding: 2em;
        }

        .externalLinkSection {
            color: white;
        }

        .externalLinkSection a {
            font-size: 1em;
        }

        .writeComment {
            text-align: left;
            font-size: 2em;
        }
    </style>

    {# Code highlighter - highlightJS#}
        {# Style #}
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/atom-one-dark.min.css">
        {# Module #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js">
    </script>
        {# Execution #}
    <script>hljs.initHighlightingOnLoad();</script>

    
    {% include 'search/searchbar.html.twig' %}

    {# One Article #}
    <div class="thumbnailsContainer">
        <div class="thumbnail">
            <h2 class="title"> {{ post.title }}</h2>

            {# Categories #}
            <div>
                {% for category in post.categories %}
                    <a class="stamp" href="/posts/category/{{ category.name }}">{{ category.name }}</a>
                {% endfor %}
            </div>

            {# User Info #}
            {% if post.User %}
                <p class="authorName">
                    {{ post.User.userName }}
                    <span class="authorExperience">
                        ({{ post.User.Experience }})
                    </span>
                </p> 
            {% endif %}
            {% if not post.User %}
                <p class="authorName">John Doe</p>
            {% endif %}
            

            {# Post Body #}
            <p class="date">{{ post.dateAdded|date("d M Y H:i")}}</p>
            {% if post.textContent %}
                <p class="description">{{ post.TextContent }}</p>
            {% endif %}
            {% if post.codeContent %}
                <div class="codeBlock">
                    <pre><code class="codeBlock">{{ post.codeContent }}</code></pre>
                </div>
            {% endif %}
            {# Main text content #}
            {% if post.mainTextContent %}
                <p class="mainTextContent">{{ post.mainTextContent }}</p>
            {% endif %} 
            <div class="externalLinkSection">
                {% if post.youtubeLink %}
                    <a href="{{ post.youtubeLink }}">🔗</a>
                {% endif %}
                {% if post.githubLink %}
                    <a href="{{ post.githubLink }}">🔗</a>
                {% endif %}
            </div>

            {# Comments #}
            <div class="commentPreview">
                {% if comments|length == 0 %}
                <p class="noComments">There is no comment for this post yet. Be the first to evalutate this post.</p>
                {% endif %}

                {# Add Comment Form #}
                {{ form_start(form) }}
                    <div>
                        {{ form_errors(form) }}
                    </div>
                    <div class="text">
                        {{ form_widget(form.textContent, {'attr':{'placeholder':'Comment *'}}) }}
                    </div>
                    <div class="codeblock">
                        {{ form_widget(form.codeBlock, {'attr':{'placeholder':'Code block', 'spellcheck':'false'}}) }}
                    </div>
                    <div class="submit">
                        {{ form_widget(form.save, {'attr':{'placeholder':'send'}}) }}
                    </div>
                {{ form_end(form) }}

                {# Display post comments #}
                {% if comments %}
                    <h2 class="commentSectionTitle">reactions</h2>
                    <div>
                        {% for comment in comments %}
                            <div class="commentSectionItem">
                                {# Author #}
                                {% if comment.user %}
                                    <p class="authorNameComments">{{ comment.user.userName}}</p>
                                {% endif %}
                                {% if not comment.user %}
                                    <p class="authorNameComments">John Doe</p>
                                {% endif %}
                                <p class="commentDateAdded">{{ comment.dateAdded|date("d M Y H:i") }}</p>
                                <p class="commentContainer">{{ comment.textContent }}</p>

                                {# code block #}
                                {% if comment.codeBlock %}
                                    <div class="codeBlock">
                                        <pre><code class="codeBlock">{{ comment.codeBlock }}</code></pre>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
     </div>
{% endblock %}
