{% extends 'base.html.twig' %}

{% block body %}
<style>
    .statsContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        justify-content: space-evenly;
        text-align: center;
        font-family: var(--logo-font);
    }

    .posts ol {
        width: 60%;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        background-color: #182533;
        box-shadow: 1px 1px 8px black;
        border-radius: 5px;
        font-family: monospace;
        margin-top: 3em;
        margin-bottom: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .postTitle {
        text-align: left;
        width: 80%;
        line-height: 4em;
    }

    .date {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        font-family: monospace;
    }

    .lPuserName {
        color: rgb(66, 108, 245);
        text-decoration: none;
    }

    .lPtitle {
        background: whitesmoke;
        color: black;
        padding: 1em;
        font-size: 1.2em;
        margin-top: 1.2em;
        font-family: var(--section-font);
        box-shadow: 3px 3px 2px black;
    }

    .postListItem {
        margin: 1em;
        margin-top: 3em;
    }

    .stamp {
        color: black;
        background: white;
        padding: 0.2em;
        font-family: monospace;
        border-radius: 5px;
    }

    .stampContainer {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .sectionName {
        font-family: monospace;
        font-size: 2em;
        font-family: var(--logo-font);
        text-decoration: underline;
    }

    .keywords {
        opacity: 40%;
        width: 50%;
    }
</style>
{% include 'search/searchbar.html.twig' %}
    <div class="posts">
            <ol>
                {% if sectionName %}
                    <h1 class="sectionName">{{ sectionName }} ({{ posts|length }} results)</h1>
                {% endif %}
                {% for post in posts %}
                    <div class="postListItem">
                        <p class="date">{{ post.dateAdded|date("d/m/Y \a\t H:i") }}</p>
                        <a href="/posts/{{ post.id }}"><p class="postTitle"><span class="lPtitle">{{ post.title }}</span></p></a>
                            <div class="keywords">
                                {{ post.textContent }}
                            </div>
                            <div class="stampContainer">
                                {% for category in post.categories %}
                                    <a class="stamp" href="/posts/category/{{ category.name }}">{{ category.name }}</a>
                                {% endfor %}
                            </div>

                        <a class="lPuserName" href="{{ post.user.id }}">✍️ {{ post.user.userName }}</a>
                    </div>
                {% endfor %}
                {{ render(controller('App\\Controller\\WikipediaSearchController::index', {searchString: (sectionName) } )) }}
            </ol>
    </div>
{% endblock %}