{% block list %}
{# List of posts #}
<style>
    .statsContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        justify-content: space-evenly;
        text-align: center;
        font-family: var(--logo-font);
    }

    .latestPosts ol {
        width: 60%;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        background: rgb(1,6,6);
        background: linear-gradient(23deg, rgba(1,6,6,1) 0%, rgba(2,25,43,1) 100%);
        box-shadow: 1px 1px 8px black;
        border-radius: 5px;
        font-family: monospace;
        margin-top: 4em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .postTitle {
        text-align: left;
        width: 70%;
        line-height: 3em;
    }

    .date {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 0.6em;
    }

    .lPuserName {
        color: rgb(66, 108, 245);
        text-decoration: none;
    }

    .lPtitle {
        color: white;
        padding: 0.4em;
        font-size: 1.5em;
        font-family: var(--section-font);
        text-decoration: underline;
    }

    .postListItem {
        margin: 1em;
        margin-top: 3em;
    }

    .stampContainer {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .sectionName {
        font-family: var(--logo-font);
        text-decoration: underline;
    }
</style>
{# All latest posts #}
    <div class="latestPosts">
            <ol>
                {% if sectionName %}
                    <h1 class="sectionName">{{ sectionName }}</h1>
                {% endif %}
                {% for post in posts %}
                    <div class="postListItem">
                        <p class="date">{{ post.dateAdded|date("d/m/Y \a\t H:i") }}</p>
                        <a href="/posts/{{ post.id }}"><p class="postTitle">
                        <span class="lPtitle">{{ post.title }}</span></p></a>

                            <div class="stampContainer">
                                {% for category in post.categories %}
                                    <a class="stamp" href="/posts/category/{{ category.name }}">{{ category.name }}</a>
                                {% endfor %}
                            </div>

                        <a class="lPuserName" href="{{ path("profile", {id:(post.user.id)}) }}">{{ post.user.userName }}</a>
                    </div>
                {% endfor %}
            </ol>
    </div>
{% endblock %}