{% block displayLastPosts %}
    <style>
        .thumbnailsContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .thumbnail {
            width: 60%;
            margin-bottom: 5em;
            height: 30%;
            background-color: #182533;
            box-shadow: 1px 1px 8px black;
            padding: 02em;
            border-radius: 5px;
        }

        .codeBlock {
            width: 95%;
            border-radius: 5px;
        }

        .title {
            font-size: 1.5em;
            font-family: monospace;
            text-align: left;
            margin-bottom: 2em;
        }

        .description {
            margin-top: 3em;
            margin-bottom: 3em;
            font-family: 'Roboto Mono', monospace;
            text-align: justify;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        .sectionTitle {
            font-size: 3em;
            margin-left: 2em;
            text-shadow: 1px 1px 2px darkgray;
            font-family: 'Roboto Mono', monospace;
        }

        .date {
            font-family: 'Roboto Mono', monospace;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        
        .authorName {
            font-family: monospace;
            font-size: 1.5em;
        }

        .portrait {
            border-radius: 5px;
            box-shadow: 1px 1px 10px black;
            width: 60px;
            height: 60px;
        }

        .sectionIcon {
            text-align: center;
            font-size: 2em;
        }

        .experience {
            font-family: monospace;
        }
        
        .commentPreview {
            font-family : monospace;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 1em;
            border-top: 1px solid white;
            padding-top: 1em;
        }

        .commentPreview a {
            color: white;
        }

    </style>

    {# Code highlighter - highlightJS#}
        {# Style #}
    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/styles/atom-one-dark.min.css">
        {# Module #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.1/highlight.min.js">
    </script>
        {# Execution #}
    <script>hljs.initHighlightingOnLoad();</script>

    {# Random Article #}
    <p class="sectionIcon"><span> 🎲 </span></p>
    <div class="thumbnailsContainer">
        <div class="thumbnail">
            <h2 class="title">🎫 {{ post.title }}</h2>
            {# User Info #}
            <p class="authorName">🥳 {{ post.User.userName }} | 🎉 {{ post.User.Experience }}</p>
            {# Post Body #}
            <p class="date">{{ post.dateAdded|date("d M Y H:i")}}</p>
            {% if post.codeContent %}
                <div class="codeBlock">
                    <pre><code class="codeBlock">{{ post.codeContent }}</code></pre>
                </div>
            {% endif %}
            {% if post.textContent %}
                <p class="description">{{ post.TextContent }}</p>
            {% endif %} 

            {# Comments #}
            <div class="commentPreview">
                <a href="#">
                    {% if comments|length == 0 %}
                    <p>There is no comment for this post yet. Be the first to evalutate this post.</p>
                    {% endif %}
                    {% if comments %}
                        {% if comments|length == 1 %}
                            <p>There is one comment for this post.</p>
                        {% endif %}
                        {% if comments|length > 1 %}
                            <p>There are {{ comments|length }} comments for this post</p>
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
     </div>
{% endblock %}
