{% extends 'base.html.twig' %}

{% block body %}

{# Style #}
<style>
    .homeStatsContainer {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .welcomeSlogan {
        text-align:center;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        font-family: var(--logo-font);
        font-size: 2em;
    }

    .randomQuote {
        text-align: center;
        font-family: var(--logo-font);
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3em;
        margin-bottom: 2em;
        color: gray;
    }

    .lastActivitiesContainer {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 5em;
    }

    .lastActivitiesContainer h2 {
        font-family: var(--logo-font);
        text-decoration: underline;
    }

</style>

{# Home page #}
{% include 'search/searchbar.html.twig' %}

{# Slogan #}
<div class="welcomeSlogan">
    <pre></code> 🎉 </code></pre>
</div>

{# Random Quote #}
<div class="randomQuote">
    {{ render(controller('App\\Controller\\RandomQuoteController::randomQuote'))}}
</div>

{# Latests posts #}
{{ render(controller('App\\Controller\\PostController::lastFive')) }}

{# Leader Board #}
<div class="homeStatsContainer">
    {{ render(controller('App\\Controller\\StatsController::displayLeaderBoard')) }}
</div>

{# A random post #}
<div>
    {{ render(controller('App\\Controller\\PostController::displayRandomPost')) }}
</div>

{# Latest Activities #}
<div class="lastActivitiesContainer">
    <h2 class="lastActivitiesSectionTitle">Recent activities</h2>
    {{ render(controller('App\\Controller\\StatsController::displayLastActivities')) }}
</div>

{% endblock %}
