{% block nav %}
    {# NavBar Style #}
    <style>

        .nav {
            padding: 0;
            position: fixed;
            top: 0;
        }

        .nav li {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .linkContainer {
            padding: 0;
            padding-left: 1em;
            line-height: 2em;
            font-family: var(--logo-font);
        }

        .linkContainer a {
            color: white;
            text-decoration: none;
        }

        .homeLogo {
            font-family: var(--logo-font);
            font-size: 2.5em;
            padding-left: 0.3em;
            margin: 0;
        }

        .logo {
            color: white;
            text-decoration: none;
        }
        
        .intra {
            font-family: monospace;
            font-size: 16px;
            border: 1px solid white;
        }

        .navStamps {
            position: fixed;
            width: 10em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 1em;
            margin-left: 1em;
            align-content: end;
            opacity: 10%;
            transition: 0.2s;
        }

        .navStamps:hover {
            opacity: 90%;
        }

        .navStamp {
            background-color: white;
            color: black;
            font-family: monospace;
            border-radius: 5px;
            padding: 0.5em;
            margin: 0.2em;
            font-size: 0.9em;
            opacity: 50%;
            transition: 0.2s;
        }

        .navStamp:hover {
            opacity: 100%;
        }

        .write {
            font-size: 1.2em;
        }

        .questionHelp {
            position: fixed;
            color: black;
            right: 2em;
            bottom: 2em;
            width: 50px;
            height: 50px;
            background: black;
            padding: 0.1em;
            font-size: 1em;
            text-align: center;
            opacity: 20%;
            transition: 0.2s;
        }   

        .questionHelp:hover {
            opacity: 100%;
            cursor: pointer;
        }

        .securityState {
            position: fixed;
            top: 1em;
            right: 1em;
            font-family: var(--logo-font);
            padding: 1em;
        }

        .statusBar {
            position: fixed;
            top: 0.5em;
            right: 0.5em;
            border: 1px solid white;
            padding: 0.5em;
            font-family: var(--logo-font);
        }

        .statusBar p {
            margin: 0;
        }

    </style>

    
    <div class="nav">
        {# Logo #}
        <a class="logo" href={{ path('home')}}>
            <h1 class="homeLogo">6gang<span class="intra">intra</span></h1>
        </a>

        {# User status bar #}
        {% if app.user %}
        <div class="statusBar">
            <a href="#">
                <p><a class="userName" href="{{ path("profile", {id:(app.user.id)}) }}">{{ app.user.userName }}</a> | {{ app.user.experience }} 🎉</p>
            </a>
        </div>
        {% else %}
        <div class="statusBar">
            <a href="{{ path('security_login') }}">
                <p>login</p>
            </a>
        </div>
        {% endif %}

        {# Links #}
        <ul class="linkContainer">
            <li><a href="{{ path('home')}}">home</a></li>

            {# Connection Bouton #}
            {% if not app.user %}
                <li><a href="{{ path('security_login') }}">login</a>
            {% else %}
                <li><a href="{{ path('security_logout') }}">logout</a>
            {% endif %}

            <li><a href="{{ path('all_posts') }}">posts</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin')}}">admin</a></li>
            {% endif %}

            {# we change the link according to the status #}
            {% if not app.user %}
                <li class="write"><a href={{ path('security_login')}}>✍️</a></li>
            {% else %}
                <li class="write"><a href={{ path('post_new')}}>✍️</a></li>
            {% endif %}
        </ul>

        {#  Categories Stamps #}
        <div class="navStamps">
            {% for category in categories %}
                <a class="navStamp" href='/posts/category/{{ category.name }}'>{{ category.name }}</a>
            {% endfor %}
        </div>

        {# Help widget #}
        <div class="questionHelp">
            <p>❓</p>
        </div>
    </div>
{% endblock %}
